* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* :root{

} */


.nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: auto;   
    padding: 2rem; 
}

.nav >ul{
    list-style: none;
}

.link {
    text-decoration: none;
    padding: 0.5rem 1rem;
    margin-top: 1.5rem;
    color: black;
}

.list-item-inline{
    display: inline;
    padding: 0rem 0.5rem;
}
.Logo{
    width: 109px;
    height: 45px;
}

.contact-btn{
    background-color: #2B3990;
    color: #ffff;
    width: 107px;
    height: 44px;
    border-radius: 10px;
    gap: 4px;
}


.text{
margin-left: 2rem;
opacity: 1;
font-family: Inter;
font-weight: 400;
font-style: Regular;
font-size: 14px;
line-height: 20px;
letter-spacing: -0.6%;

}

.Product {
    display: flex;
    align-items: center;
    gap: 6px;
    color: #4D545C;
}

.Caret {
    font-size: 14px;
}

.Two-txt {
    color: #0D0D0D;
    font-weight: 600;
}

.main{
    display: flex;
    justify-content: space-between;
}

.hero-img{
width: 570px;
height: 570px;
border-radius: 24px;
border-width: 3px;
transform: rotate(0deg);
opacity: 1;
border: 3px solid #fff;
padding: 1rem;
}


.brand-log{
width: 26px;
height: 20px;
transform: rotate(0deg);
opacity: 1;

}


.check{
    width: 16px;
    height: 16px;
}