* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* :root{

} */


.nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: auto;   
    padding: 2rem; 
}

.nav >ul{
    list-style: none;
}

.link {
    text-decoration: none;
    padding: 0.5rem 1rem;
    margin-top: 1.5rem;
    color: black;
}

.list-item-inline{
    display: inline;
    padding: 0rem 0.5rem;
}
.Logo{
    width: 109px;
    height: 45px;
}

.contact-btn{
    background-color: #2B3990;
    color: #ffff;
    width: 107px;
    height: 44px;
    border-radius: 10px;
    gap: 4px;
}


.text{
margin-left: 2rem;
opacity: 1;
font-family: Inter;
font-weight: 400;
font-style: Regular;
font-size: 14px;
line-height: 20px;
letter-spacing: -0.6%;

}

.Product {
    display: flex;
    align-items: center;
    gap: 6px;
    color: #4D545C;
}

.Caret {
    font-size: 14px;
}

.Two-txt {
    color: #0D0D0D;
    font-weight: 600;
}

.main{
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.hero-img{
width: 570px;
height: 570px;
border-radius: 24px;
border-width: 3px;
transform: rotate(0deg);
opacity: 1;
border: 3px solid #fff;
padding: 1rem;
}

.container {
  display: flex;
  width: 535px;
  height: 80px;
  opacity: 1;
  gap: 10px;
  margin-left: 1rem;
}

.box {
  flex: 1;             
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #CFD1D4;
  color: #FFFFFF;
  width: 80px;
  height: 80px;
  border-radius: 8px;
  border-width: 1px;
  opacity: 1;
}

.brands{
    display: flex;
    list-style: none;
    width: 142;
    height: 36;
    gap: 10px;
    margin-top: 1rem;   
}

.brands >li{
  opacity: 1;
    border-radius: 6px;
    border-width: 1px;
    padding-top: 8px;
    padding-right: 12px;
    padding-bottom: 8px;
    padding-left: 12px;
    border: 1px solid #E1E3E8;
}

.brand-log{
width: 26px;
height: 20px;
transform: rotate(0deg);
opacity: 1;
line-height: 10px;
}

.brand-text{
    font-family: Inter;
font-weight: 500;
font-style: Medium;
font-size: 14px;
line-height: 30px;
letter-spacing: -0.6%;
color: #4B5563; 
}

.brand-content{
    font-family: Urbanist;
    font-weight: 700;
    font-style: Bold;
    font-size: 56px;
    line-height: 120%;
    letter-spacing: 0px;
    color: #111827;
    width: 570;
    height: 201;
    opacity: 1;
}

.brand-check{
    display: flex;
    flex-direction: column;
    width: 570px;
    height: 184px;
    gap: 20px;
    opacity: 1;
    padding-bottom: 1rem;
}

.brand-check >P{
    width: 240px;
    height: 24px;
    min-width: 240px;
    gap: 8px;
    opacity: 1;
    padding-bottom: 1rem;
}

.brand-check-txt{
    width: 218px;
    height: 24px;
    opacity: 1;
    font-family: Inter;
    font-weight: 400;
    font-style: Regular;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.6%;
    color: #0D0D0D;
}

.check{
    width: 16px;
    height: 13px;
    line-height: 10px;
}


.brand-price{
    width: 570px;
    height: 174px;
    gap: 16px;
    opacity: 1;
    border-radius: 10px;
    border-width: 1px;
    padding: 1rem;
    /* color: #fff; */
    border: 1px solid #CFD1D4;
    margin-top: 2rem;
    padding-top: 1rem;
    margin-bottom:1rem;
}

.price-txt{
    font-family: Inter;
    font-weight: 500;
    font-style: Medium;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: -0.6%;
    width: 80px;
    height: 20px;
    opacity: 1;
    color: #6A7077;
}

.brand-price >h3{
    width: 204px;
    height: 28px;
    opacity: 1;
    color: #0D0D0D;
}

.Estimatedtime-txt{
    display: block;
    width: 530px;
    height: 32px;
    gap: 10px;
    opacity: 1;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.Estimatedtime-txt >p>span{
    width: 233px;
    height: 32px;
    border: 1px solid #fff;
    border-radius: 6px;
    padding: 1rem;
    background-color: #FEF3C7;
    color: #92400E;
    font-family: Inter;
    font-weight: 500;
    font-style: Medium;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: -0.6%;
}

.price-certification{
    width: 530;
    height: 32;
    gap: 8px;
    opacity: 1;
    margin-top: 1.5rem;
}
.price-certification >span{
    width: 297px;
    height: 32px;
    opacity: 1;
    border-radius: 6px;
    padding: 1rem;
    background-color: #F3F4F6;
    color: #0D0D0D;
}